doctype html

html(ng-app='proofood')
	head
		title proofood
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')
	body(ng-controller='ProofoodCtrl')
		.navbar.navbar-default
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Proofood
			.navbar-collapse.collapse.navbar-responsive-collapse
				
				form.navbar-form.navbar-left
					input.form-control.col-lg-8(placeholder='Search', type='text', ng-model='q')
				ul.nav.navbar-nav.navbar-right

		.container
			.row
				.col-lg-12
					.page-header
						h1#tables 搜尋結果 ({{ result }})

					ul.nav.nav-tabs
						li(ng-repeat="item in data", ng-class="{true: 'active', false: ''}[$index == 0]")
							a(aria-expanded='true', href='#item_{{$index}}', data-toggle='tab') {{ item.val }}

					.bs-component
						.tab-content
							.tab-pane.fade(id="item_{{$index}}", ng-class="{true: 'active in', false: ''}[$index == 0]", ng-repeat="item in data")
								table.table.table-striped.table-hover
									thead
										tr
											th #
											th 追溯碼
											th 品名
											th 經營者
											th 包裝日期
											th 購買資訊
									tbody
										tr(ng-repeat="p in testdata")
											td {{ $index+1 }}
											td {{ p.serial_number }}
											td: a(href='{{ p.url }}') {{ p.name }}
											td {{ p.provider }}
											td {{ p.date }}
											td
												.panel-group(id="accordion_{{ $parent.$index }}_{{ $index }}", role="tablist", aria-multiselectable="true", style="margin-bottom: 0px")
													.panel.panel-default(style="width: 200px;")
														.panel-heading(id="heading_{{ $parent.$index }}_{{ $index }}", role="tab")
															.panel-title(style="width: 100px;")
																a(data-toggle="collapse", data-parent="#accordion_{{ $parent.$index }}_{{ $index }}", href="#collapseOne_{{ $parent.$index }}_{{ $index }}", aria-expanded="false", aria-controls="collapseOne") 通路資訊
														.panel-collapse.collapse(id="collapseOne_{{ $parent.$index }}_{{ $index }}", role="tabpanel", aria-labelledby="#heading_{{ $parent.$index }}_{{ $index }}", style="width: 200px; margin: 0;")
															.panel-body
																{{ p.info }}

		script(type='text/javascript', src='js/lib/underscore.js')
		script(type='text/javascript', src='js/lib/jquery.min.js')
		script(type='text/javascript', src='js/lib/angular.min.js')
		script(type='text/javascript', src='js/lib/bootstrap.min.js')
		script(type='text/javascript', src='js/index.js')