doctype html

html(ng-app='proofood')
	head
		title 食 Proof
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')

	body(ng-controller='ProofoodCtrl')
		.proofood-ce
			.navbar.navbar-default.navbar-fixed-top(role="navigation")
				.container
					.navbar-header
						#proofoods-logo
						.navbar-brand 食 Proof
					#dasi_search.dl-horizontal.pull-right
						span.dt 再次搜尋：
						form.search-form.pull-right(action='index.html')
							input.form-control(type="text", name='q', placeholder='請輸入食材名稱')
			.push
			.container
				.row
					.col-lg-12
						.page-header
							h1#tables 搜尋結果 ({{ result }})
						.control-btns
							.left-btn.glyphicon.glyphicon-chevron-left
							.right-btn.glyphicon.glyphicon-chevron-right
						ul.items.nav.nav-tabs(ng-show='data')
							li(ng-repeat="item in items", ng-class="{true:'active',false:''}[$index==0]")
								a(aria-expanded='true', href='#item_{{$index}}', data-toggle='tab') {{ item.val }}
									.badge {{ data[$index].length }}
						.bs-component(ng-show='data')
							.tab-content
								.tab-pane.fade(id="item_{{$index}}", ng-class="{true:'active in',false:''}[$index==0]", ng-repeat="item in items")
									table.table.table-striped.table-hover
										thead
											tr
												th #
												th 品名
												th 經營者
												th 檢驗者
												th 出貨日期
												th 購買資訊
										tbody
											tr(ng-repeat="p in data[$index]")
												td {{ $index+1 }}
												td {{ item.val }}
												td {{ p.organization.name }}
												td {{ p.organization.examiner }}
												td {{ p.shipping_date | date:'yyyy/MM/dd' }}
												td(style="width: 35%", ng-bind-html="replaceSellChannel(p.organization.sell_channel)")
						.loading(ng-hide='data != undefined')
							.push
							.push
							img(src='img/loader.gif')
						.nodata(ng-show='noData')
							.push
							.push
							| 查無搜尋結果
			.scrollup

		script(type='text/javascript', src='js/lib/underscore.js')
		script(type='text/javascript', src='js/lib/jquery.min.js')
		script(type='text/javascript', src='js/lib/angular.min.js')
		script(type='text/javascript', src='js/lib/bootstrap.min.js')
		script(type='text/javascript', src='js/index.js')
		script(type='text/javascript', src='js/scroll.js')