@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "bootswatch";

// bootstrap fixed
@font-face {
	font-family: 'Glyphicons Halflings';

	src: url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
	src: url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
		font-family: "Open Sans";
		src: url('../fonts/OpenSans-Light.ttf');
}

html, body {
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
}
table {
	font-size: 13px;
	color: #55555;
}

.proofood-ce {
	#proofoods-logo {
		float: left;
		background: url('../img/proofood-icon-large.svg');
		background-size: 50px;
		width: 50px;
		height: 50px;
	}

	.navbar {
		background: #fff !important;
	}

	#dasi_search {
		position: fixed;
		top: 8px;
		right: 11%;
		.dt {
			display: inline-block;
			margin: 10px;
			font-size: 16px;
		}
		.search-form {
			display: inline-block;
		}
	}

	.control-btns {
		position: relative;
		z-index: 999;

		.left-btn {
			position: absolute;
			cursor: pointer;
			top: 10px;
			left: 0;
			font-size: 20px;
			color: rgba(125, 125, 125, 0);
		}
		.right-btn {
			position: absolute;
			cursor: pointer;
			top: 10px;
			right: 0;
			font-size: 20px;
			color: rgba(125, 125, 125, 0);
		}
		.left-btn:hover {
			color: rgba(125, 125, 125, 0.5);
		}
		.right-btn:hover {
			color: rgba(125, 125, 125, 0.8);
		}
	}

	.items {
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;

		li {
			float: none;
			display: inline-block;
		}
	}

	.badge {
		background-color: #777777;
	}

	.navbar-brand {
		font-size: 20px !important;
		background: #bd2323 !important;
		margin-top: 1px;
		color: #fff !important;
		position: relative;
		top: -0.55px;
		left: 20px;
	}

	.scrollup {
		position: fixed;
		width: 45px;
		height: 45px;
		bottom: 20px;
		right: 20px;
		display: none;
		cursor: pointer;
		background: url('../img/up.png') no-repeat;
	}

	.loading {
		text-align: center;
	}

	.nodata {
		font-size: 20px;
		text-align: center;
	}

	td {
		max-width: 20%;
		min-width: 50px;
	}

	.pagination {
		font-size: $font-size-small + 2px;
		margin: 10px auto;
		display: table;
		> li {
			> a,
			> span {
				color: #555555;
				cursor: pointer;
			}
		}
		> .active {
	    > a,
	    > span {
	      color: #fff;
	    }
	  }
	}

	.push {
		height: 35px;
	}
}

